body {
  background-color: rgb(255, 208, 138);
}
.history_p {
  display: none;
  margin-left: 2vw;
  overflow: hidden;
  text-align: justify;
}
.p_animate {
  width: 40vw;
}
.animate_div {
  overflow: hidden;
  animation: fade-in 3s;
}
.ages_header {
  display: flex;
  margin-left: 1vw;
}
.h_img {
  width: auto;
}

@keyframes fade-in {
  0% {
    width: 0%;
  }
  100% {
    width: 63%;
  }
}
@media (max-width: 767px) {
  .asd {
    margin-bottom: 65px;
  }
  .history_p {
    flex-direction: column;
  }
  .p_animate {
    width: 100%;
  }
  @keyframes fade-in {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
/* !!!!! */
@media (max-width: 500px) {
  .kep {
    width: 100%;
  }
}
